.sidebar{
    width:240px;
    height:100vh;
    background:#1f2937;
    color:white;
    padding:20px;
}

.logo{
    margin-bottom:40px;
}

.sidebar nav{
    display:flex;
    flex-direction:column;
}

.sidebar a{
    color:white;
    padding:12px;
    border-radius:8px;
    margin-bottom:10px;
}

.sidebar a:hover{
    background:#374151;
}

.sidebar a.active{
    background:#2563eb;
}